h1{
    color:red;
    text-align: center;
}
h3{
    color:yellow;
    background-color:black ;
    text-align: center;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h4{
    text-align: center;
}